@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-saira), Arial, sans-serif;
}

@layer base {
  :root {
    /* Solarized Light */
    --background: 55 67% 95%; /* #fdfae9 */
    --foreground: 193 100% 15%; /* base00 */
    
    --card: 44 30% 88%; /* #eee8d5 */
    --card-foreground: 193 100% 15%; /* base00 */
    
    --popover: 44 30% 88%;
    --popover-foreground: 193 100% 15%;
    
    --primary: 198 100% 31%; /* blue */
    --primary-foreground: 44 100% 99%;
    
    --secondary: 45 100% 85%;
    --secondary-foreground: 193 100% 15%;
    
    --muted: 44 100% 92%;
    --muted-foreground: 194 100% 30%;
    
    --accent: 18 100% 45%;
    --accent-foreground: 44 100% 99%;
    
    --destructive: 1 100% 45%;
    --destructive-foreground: 44 100% 99%;
    
    --border: 45 100% 85%;
    --input: 45 100% 85%;
    --ring: 198 100% 31%;

    --radius: 0.5rem;
  }

  .dark {
    /* Solarized Dark */
    --background: 193 100% 11%; /* #012b36 */
    --foreground: 44 100% 95%; /* Much lighter text */
    
    --card: 193 100% 8%; /* #00212b */
    --card-foreground: 44 100% 95%; /* Much lighter text */
    
    --popover: 193 100% 8%;
    --popover-foreground: 44 100% 95%;
    
    --primary: 198 100% 31%;
    --primary-foreground: 44 100% 99%;
    
    --secondary: 193 100% 15%;
    --secondary-foreground: 44 100% 95%;
    
    --muted: 192 100% 13%;
    --muted-foreground: 44 100% 85%;
    
    --accent: 18 100% 45%;
    --accent-foreground: 44 100% 99%;
    
    --destructive: 1 100% 45%;
    --destructive-foreground: 44 100% 99%;
    
    --border: 193 100% 15%;
    --input: 193 100% 15%;
    --ring: 198 100% 31%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
